<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="js/config.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" media="screen" />
    
</head>

<body>
    <div id="app">
        <div class="topnav">
            <p >Matt-IoT </p>
        </div>

        <div v-if="token">
            <div class="sidenav">
                <a href="#">Leds</a>
            </div>

            <div class="main">
                <div>
                    <div class="button-container">
                        <button class="led green" 
                                @click="leds.green = !leds.green"
                                v-bind:class = "leds.green ? 'on':'off'"> {{ leds.green? "ON": "OFF" }} 
                        </button>
                        
                        <button class="led yellow" 
                                @click="leds.yellow = !leds.yellow"
                                v-bind:class = "leds.yellow ? 'on':'off'"> {{ leds.yellow? "ON": "OFF" }}
                        </button>
                                
                        <button class="led red" 
                                @click="leds.red = !leds.red"
                                v-bind:class = "leds.red ? 'on':'off'"> {{ leds.red? "ON": "OFF" }} 
                        </button>
                    </div>

                    <div class="button-container">
                        <button :disabled="isLoading" class="submit" @click="sendLeds()" >SET</button>
                    </div>

                    <div class="msg-container">
                        <h3>{{ responseMsg }}</h3>
                    </div>
                </div>

                <div>
                    
                    <div class="button-container">
                        <button :disabled="isLoading" class="submit" @click="getCameraImages()" >REFRESH</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="unauthorized" v-if="!token">
            <h3>You are not logged in <br><br>
                click the button below</h3>
            <div class="button-container">
                <button class="submit" @click="authorize()" >LOG IN</button>
            </div>
        </div>

    </div>

</body>

<script src="js/main.js" async></script>

</html>